.container{
width: 90%;
margin: auto;
}

}
.container-2 {
  flex-basis: 70%;
}


.container, .container-2
{
height: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;

.carre
{
  flex-basis: 0;
  height: 50px;
}

.carre-2{
  height: 50%;
}


.carre:nth-child(1) {
 background:#66cd72;
flex-basis: 70%
 }

}
.carre:nth-child(2) {
 background:#3480b9;
 flex-basis: 30%;
 }
